.lay{
    margin-bottom: 40%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
  
}
.one{
    flex-basis: 30%;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    margin-bottom: 100px;
    padding: 30px 30px;
    box-sizing: border-box;
    transition: box-shadow .3s;
    float: left;
}
.one:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
hr {
    border: 1px solid #CD9BD0;
    width: 27%;
}
.c1 {
    border: 1px solid #D05E8F;
    width: 5%;
}
h2{
    font-family: 'Great Vibes', cursive;
    color: #723A9B;
}
img{
width: 300;
 height: 300; 
  border-radius: 25px;
}
.n2{
    margin-top: 20px;
    font-family: 'Amatic SC', cursive;
    color: #D05E8F;
    font-size: 120px;
     margin-bottom: 1px;
     padding: 0px 0px;
}
p{
    margin-left:15px;
    font-family: 'Sunshiney', cursive;
    color:#1C0F23;
    font-weight:100px;
    font-size: 21px;
}
.n1{
    font-family: 'Amatic SC', cursive;
    color: #BD7D9F;
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: 1px;
    padding: 0px 0px;
}
h3{
    font-family: 'Patrick Hand', cursive;
    color: #7D3F4A;
    font-size: 20px;
    padding: 0px 0px;
    font-weight:200px;
}
body, html {
  height: 100%;
}
.bg { 
  background-image: url('background1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
@media(max-width:700px){
    .lay{
        flex-direction: column;
    } 
    .n2{
        margin-top: 20px;
        font-family: 'Amatic SC', cursive;
        color: #D05E8F;
        font-size: 50px;
         margin-bottom: 1px;
         padding: 0px 0px;
    }
    .n1{
        font-family: 'Amatic SC', cursive;
        color: #BD7D9F;
        font-size: 30px;
        margin-bottom: 50px;
        margin-top: 1px;
        padding: 0px 0px;
    }
}